<!doctype HTML>

<header>
  <title>Training App!</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="content-language" content="en-US"/>
  <meta name="robots" content="follow"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <script src="public/js/jquery-1.11.3.min.js"></script>
  <script src="public/js/highcharts.js"></script>

  <link rel="icon" type="image/png" href="public/img/favicon.png">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="public/css/bootstrap.min.css" media="screen">
</header>

<body>
  <div class="col-lg-10 col-lg-offset-1">
    <h1>Training App!</h1>

    <hr>

    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
            <button class="btn btn-default" type="button"> New Running Activity </button>
            <button class="btn btn-default" type="button"> New Weight </button>
            <button class="btn btn-info" type="button"> New Skiing Activity </button>
            <button class="btn btn-info" type="button"> New Lifting Activity </button>
            <button class="btn btn-info" type="button"> New Meal </button>
        </div>
      </div>
    </div>

    <hr>

    <div class="col-lg-6">
      <div id="run_distance" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
      <div id="weight_tracker" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>

    <div class="col-lg-12">
      <h2>Running Log</h2>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Planned Distance</th>
            <th>Actual Distance</th>
            <th>Duration</th>
            <th>Temp</th>
            <th>Temp Feels Like</th>
            <th>Humidity</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < actual_run_data.actual_data.length; i++) { %>
            <tr>
              <td> <%= actual_run_data.actual_data[i][0] %> </td>
              <td> </td>
              <td> <%= actual_run_data.actual_data[i][1] %> </td>
              <td> <%= actual_run_data.duration[i] %> </td>
              <td> <%= actual_run_data.temp[i] %> </td>
              <td> <%= actual_run_data.feels_like[i] %> </td>
              <td> <%= actual_run_data.humidity[i] %> </td>
              <td></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="col-lg-12">
      <h2>Weight Log</h2>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Morning Weight</th>
            <th>Evening Weight</th>
            <th>Pre-Run Weight</th>
            <th>Post-Run Weight</th>
          </tr>
        </thead>
        <tbody>
          <% for (var wt = 0; wt < weight_data.date_only.length; wt++) { %>
            <tr>
              <td> <%= weight_data.date_only[wt] %> </td>
              <td> <%= weight_data.morning_weight_only[wt] %> </td>
              <td> <%= weight_data.evening_weight_only[wt] %> </td>
              <td>205.0</td>
              <td>203.8</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="col-lg-12">
      <h2>Skiing Log</h2>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Planned Distance</th>
            <th>Actual Distance</th>
            <th>Duration</th>
            <th>Temp</th>
            <th>Temp Feels Like</th>
            <th>Humidity</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>09/15/2015</td>
            <td>Kettle Moraine, WI</td>
            <td>3 miles</td>
            <td>3 miles</td>
            <td>00:29:31</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Was really cold out.</td>
          </tr>
          <tr>
            <td>09/14/2015</td>
            <td>Houghton, MI</td>
            <td>3 miles</td>
            <td>3 miles</td>
            <td>00:29:31</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Was really cold out.</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="col-lg-12">
      <h2>Lifting Log</h2>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Date</th>
            <th>Activity</th>
            <th>Weight</th>
            <th>Reps</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>09/15/2015</td>
            <td>Bench Press</td>
            <td>135lbs</td>
            <td>10 reps</td>
          </tr>
          <tr>
            <td>09/15/2015</td>
            <td>Bench Press</td>
            <td>155lbs</td>
            <td>8 reps</td>
            <td>Felt good</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="col-lg-12">
      <h2>Nutrition Log</h2>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Date</th>
            <th>Breakfast</th>
            <th>Lunch</th>
            <th>Dinner</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>09/15/2015</td>
            <td>3 Eggs</td>
            <td>Lots of Candy</td>
            <td>More candy</td>
            <td>A keg of beer</td>
          </tr>
          <tr>
            <td>09/14/2015</td>
            <td>2 Eggs</td>
            <td>1 PB and J</td>
            <td>1 Chicken Breast 8oz</td>
            <td>5 16oz Pabst Blue Ribbon Beers</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <% include ./partials/footer.ejs %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script type="text/javascript">
  $(function () {
      $(document).ready(function () {

        // var x = {{running_data.planned_data}};
        var planned_dist_data = <%- JSON.stringify( running_data.planned_data ); %>
        var actual_dist_data = <%- JSON.stringify( actual_run_data.actual_data ); %>
        var morning_weight = <%- JSON.stringify( weight_data.morning_weight ); %>
        var evening_weight = <%- JSON.stringify( weight_data.evening_weight ); %>
        
          Highcharts.setOptions({
              global: {
                  useUTC: false
              }
          });

          $('#run_distance').highcharts({
              chart: {
                  type: 'line'
              },
              title: {
                  text: '<%= running_data.title %>'
              },
              xAxis: {
            type: 'category',
            labels: {
                      rotation: -45
                }
              },
              yAxis: {
                  min: 0,
                  title: {
                    text: '<%= running_data.yAxisTitle %>'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              legend: {
                  enabled: false
              },
              exporting: {
                  enabled: false
              },
              series: [{
                  name: '<%= running_data.seriesName %>',
                  data: planned_dist_data,
                  dataGrouping: {
                        enabled: true
                    }
                },
                {
                  name: '<%= actual_run_data.seriesName %>',
                  data: actual_dist_data,
                  dataGrouping: {
                        enabled: true
                    }
                }]
            });

            $('#weight_tracker').highcharts({
              chart: {
                  type: 'line'
              },
              title: {
                  text: '<%= weight_data.title %>'
              },
              xAxis: {
            type: 'category',
            labels: {
                      rotation: -45
                }
              },
              yAxis: {
                  title: {
                    min: 0,
                      text: '<%= weight_data.yAxisTitle %>'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              legend: {
                  enabled: false
              },
              exporting: {
                  enabled: false
              },
              series: [{
                  name: 'Morning Weight',
                  data: morning_weight,
                  dataGrouping: {
                        enabled: true
                    }
                },
                {
                  name: 'Evening Weight',
                  data: evening_weight,
                  dataGrouping: {
                        enabled: true
                    }
                }]
            });
        });
    })
  </script>
</body>

</HTML>
